.blueText {
    color: blue;
}
.redText {
    color: red;
}
.redBox {
    height: 100px;
    width: 100px;
    background-color: #00BCD4;
    padding: 5px;
    margin-left: 100px;
}

.postBox {
    background-color: #00bfff;
}

.smallTitle {
    color:darkgreen;
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    border: 10px ridge red;
}

.smallText {
    color:#00ff00;
    font-size:larger;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}